{% extends "base.html" %}

{% block content %}
<h1>Редактирование профиля</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <p>
        Имя пользователя:<br>
        {{ form.username(size=32) }}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        Электронная почта:<br>
        {{ form.email(size=32) }}<br>
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        Новый пароль:<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        Подтверждение нового пароля:<br>
        {{ form.confirm(size=32) }}<br>
        {% for error in form.confirm.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}